
/* Global */
:root{
  --color-main: #fff;
  --bg-main: linear-gradient(#8779a4, #9e6b8b);
  --size-small:10px;
  --size-Medium:20px;
  --size-large:30px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  overflow-x: hidden;
}


/* Continer */
.continer-parking{
  width: 100%;
  height: calc(100vh-56);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--size-small);
}

/* continer Parking */

.continer-parking .parking{
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-small) var(--size-Medium);
  margin: var(--size-small) calc(var(--size-small) - 5px);
  border-radius: var(--size-Medium);
  overflow-y: scroll;
  box-shadow: 0 0 5px 5px rgba(1 1 1/8%);
}

.continer-parking .parking table{
  border-collapse: collapse;
  margin: var(--size-small);
}

.continer-parking .parking table td button{
  width: calc(var(--size-Medium) * 4);
  color: #8779a4;
  background: transparent;
  cursor: pointer;
  padding: calc(var(--size-small) - 9px);
  border-radius: var(--size-small);
  font-size: calc(var(--size-Medium) - 2px);
  border: solid 3px #8779a4;
}

.continer-parking .parking table td,th{
  padding: var(--size-small);
  border: 1px solid #dddddd;
}



.continer-parking .parking table tr td img {
  width: calc(var(--size-Medium) * 4);
}

/* -- continer Parking -- */

/* Info Parking */
.info-parking{
  width: 30%;
  height: 100vh;
  padding: 0px var(--size-Medium);
  box-shadow: 0 0 5px 5px rgba(1 1 1/8%);
  border-radius: var(--size-Medium);
  margin-left: var(--size-Medium);
}

.info-parking .title-park {
  font-size: calc(var(--size-Medium)*2);
  font-weight: bold;
  text-align: right;
  margin: var(--size-Medium) 0px;
  background: var(--bg-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-parking .img-park img{
  width: 100%;
  height: 100%;
}

.info-parking .group-button{
  margin: var(--size-Medium) 0px;
  display: flex;
  justify-content: space-evenly;
}

.info-parking .group-button button{
  padding: var(--size-small) var(--size-Medium);
  border-radius: var(--size-Medium);
  background: transparent;
  color: #9e6b8b;
  border: solid #8779a4 2px;
}

.img-Star{
  width: 100%;
}

.img-Star img{
  width: 100%;
  height: 100%;
}

.info-parking .To{
  display: flex;
  margin: 20px 0px;
}

.info-parking .To  button{
  width: 100%;
  padding: var(--size-small) var(--size-Medium);
  border-radius: var(--size-Medium);
  background: transparent;
  color: #9e6b8b;
  border: solid #8779a4 2px;
  margin: 0px 10px;
  cursor: pointer;
  font-size: var(--size-Medium);
  font-weight: 500;
}

/* -- Info Parking  --*/


/* -- Continer -- */


/* response  */

@media (max-width: 550px){
  .continer-parking{
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .continer-parking .parking{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .continer-parking .info-parking{
    width: 100%;
    margin: var(--size-Medium) auto;
  }
}

/* -- response --  */
