
/* Global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  overflow-x: hidden;
}


/* Continer */
.continer-parking{
  width: 100%;
  height: calc(100vh-56);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* continer Parking */

.continer-parking .parking{
  width: fit-content;
  height: 90vh;
  box-shadow: 0 0 5px 5px rgba(1 1 1/8%);
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin: 10px 5px;
  border-radius: 20px;
  overflow-y: scroll;
}

.continer-parking .parking table{
  border-collapse: collapse;
  margin: 10px 10px;
}

.continer-parking .parking table td button{
  width: 80px;
  border: solid 3px #8779a4;
  color: #8779a4;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

.continer-parking .parking table td,th{
  border: 1px solid #dddddd;
  padding: 10px;
}



.continer-parking .parking table tr td img {
  width: 80px;
}

/* -- continer Parking -- */

/* Info Parking */
.info-parking{
  width: 30%;
  height: 90vh;
  padding: 0px 20px;
  box-shadow: 0 0 5px 5px rgba(1 1 1/8%);
  border-radius: 20px;
  margin-left: 20px;
}

.info-parking .title-park {
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  margin: 20px 0px;
  background: linear-gradient(#9e6b8b,#8779a4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-parking .img-park img{
  width: 100%;
  height: 100%;
}

.info-parking .group-button{
  margin: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}

.info-parking .group-button button{
  padding: 10px 20px;
  border-radius: 20px;
  background: transparent;
  border: solid #8779a4 2px;
  color: #9e6b8b;
}

.img-Star{
  width: 100%;
}

.img-Star img{
  width: 100%;
  height: 100%  ;
}

/* -- Info Parking  --*/


/* -- Continer -- */


/* response  */

@media (max-width: 550px){
  .continer-parking{
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .continer-parking .parking{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .continer-parking .info-parking{
    width: 100%;
    margin: 20px auto;
  }
}

/* -- response --  */
