* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.continer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 50px;
  height: calc(100vh-56);
  margin-top: 30px;
}

.Form-Profile {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  box-shadow: 0 0 5px 1px rgba(1 1 1/15%);
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 70px;
}

.input {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 10px 0px;
}

.input input {
  text-align: right;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  border: solid #eee 2px;
  font-size: 16px;
}

.input label {
  margin: 5px 0px;
}

.input .option {
  display: flex;
  justify-content: space-between;
}

.input .radio {
  display: flex;
  box-shadow: 0px 0px 1px 1px rgba(1 1 1/15%);
  margin: 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  margin: 0px 4px;
}

.input .radio label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input .radio input[type="Radio"]:checked + label {
  color: #0075ff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.content-form{
  box-shadow: 0 0 5px 1px rgba(1 1 1/15%);
  padding: 20px;
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  border-radius: 20px;
}

.content-form .img-profile {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}




.content-form .img-profile img{
  width: 100px ;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 0 10px 5px rgba(1 1 1/15%);
  background: linear-gradient(rgb(135, 121, 164), #9e6b8b);
}

.content-form ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-form ul li {
  width: 100%;
  height: 100%;
  border: solid 1px #eee;
  margin: 10px;
  padding: 10px 20px;
  text-align: right;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(1 1 1/8%);
}



.content-form ul .active{
  border: solid 1px #9e6b8b;
  font-size: 16px;
}

.content-form ul li a {
  color: #222;
}

.content-form ul li a strong{
  margin: 0 10px;
}

.content-form ul li a  i {
  color: #9e6b8b;
}



/* response */

@media (max-width: 800px){
  body{
    overflow-x: hidden;
  }
  .continer{
    flex-direction: column-reverse;
    padding: 0px;
  }
  .Form-Profile{
    width: 90%;
  }
  .content{
    width: 90%;
  }
  .content-form{
    width: 100%;
    margin-top: 20px;
  }
  .profile{
    width: 100%;
  }
}