/* Global */

:root{
  --color-main: #fff;
  --bg-main: linear-gradient(#8779a4, #9e6b8b);
  --size-small:10px;
  --size-Medium:20px;
  --size-large:30px;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* post parkin */
.post-parking{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

/* post parkin img */

.post-parking .img-post-parking{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0px calc(var(--size-Medium)*2);
}

.post-parking .img-post-parking img{
  width: 70%;
  height: 100%;
}

/* -- post parkin img -- */

/* post parkin info */

.post-parking .info-post-parking{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  margin: 0px calc(var(--size-Medium)*2);
}

.post-parking .info-post-parking .Form-continer{
  width: 60%; 
  padding: var(--size-Medium) calc(var(--size-Medium)*2);
  border-radius: var(--size-small);
  box-shadow: 0 0 5px 5px rgba(1 1 1/8%);
}

.Form-continer form .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: var(--size-large) 0px;
}

.Form-continer form .input label {
  margin-bottom: 5px;
}

.Form-continer form .input input{
  padding: var(--size-small) var(--size-Medium);
  border-radius: var(--size-small);
  border: none;
  border: solid 1px #eee ;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(1 1 1/15%);
  text-align: right;
}

.Form-continer form .input input:focus{
  border: solid #eee;
}


.Form-continer form button{
  width: 100%;
  padding: calc(var(--size-small) + 5px) var(--size-Medium);
  border-radius: calc(var(--size-small) + 5px) ;
  border: none;
  background-image: url("../Image/map.png");
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgba(1 1 1/10%);
}


.Form-continer form button i {
  color: #9e6b8b;
  font-size: var(--size-Medium);
  margin-right: calc(var(--size-small) - 3px) ;
}

/* -- post parkin info -- */

/* -- post parkin -- */




/* response */

@media (max-width: 550px) {
  .post-parking .img-post-parking{
    display: none;
  }

  .post-parking .info-post-parking{
    width: 100%;
    justify-content: center;
  }


  .post-parking .info-post-parking .Form-continer{
    width: 100%;
  }
}

/* -- response -- */
