/* Global */


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Map Continer */

.MapsContiner {
  width: 80%;
  height: 70vh;
  display: flex;
  padding: 15px 20px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0 0px 9px 5px rgba(1 1 1/8%);
}

/* google Maps */
#Maps {
  width: 75%;
  height: 100%;
  border-radius: 15px;
}

/* Form Maps */

.FormMaps {
  margin: 0px 10px;
}

.SearchMaps {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.input-group {
  display: flex;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 10px;
  padding-right: 60px;
  border-radius: 10px;
  border: none;
  text-align: right;
  background: #fbfbfb;
  outline: 0;
}

.icon {
  position: absolute;
  top: 0;
  right: 0px;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8779a4;
}

.input-group input:focus {
  border: solid 2px;
}

.saved {
  padding: 10px 15px;
  background: #fbfbfb;
  border-radius: 10px;
  margin: 0px 10px;
  cursor: pointer;
}

.saved i {
  color: #8779a4;
}

.resultMaps {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.resultMaps ul {
  width: 100%;
  height: 100%;
  margin-left: 2px;
}

.resultMaps ul li {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 1px 0px 5px 1px rgba(1 1 1/10%);
}

.resultMaps ul li a {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #222;
}

.resultMaps ul li a strong {
  font-weight: 400;
}

.resultMaps ul li a img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/* -- Form Maps -- */

/* response */

@media (max-width: 550px) {
  body {
    overflow: auto;
  }
  .MapsContiner {
    flex-direction: column;
  }

  .FormMaps {
    height: 100%;
  }

  .resultMaps {
    height: 90%;
    overflow-y: scroll;
  }
}

/* -- response -- */
