/* Global */
:root{
  --color-main: #fff;
  --bg-main: linear-gradient(#8779a4, #9e6b8b);
  --size-small:10px;
  --size-Medium:20px;
  --size-large:30px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Map Continer */

.MapsContiner {
  width: 80%;
  height: 70vh;
  display: flex;
  padding: calc(var(--size-small) + 5px) var(--size-Medium);
  margin: var(--size-Medium) auto;
  border-radius: var(--size-Medium);
  box-shadow: 0 0px 9px 5px rgba(1 1 1/8%);
}

/* google Maps */
#Maps {
  width: 75%;
  height: 100%;
  border-radius: calc(var(--size-small) + 5px);
}

/* Form Maps */

.FormMaps {
  margin: 0px var(--size-small);
}

.SearchMaps {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.input-group {
  display: flex;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: var(--size-small);
  padding-right: calc(var(--size-large) * 2);
  border-radius: var(--size-small);
  border: none;
  text-align: right;
  background: #fbfbfb;
  outline: 0;
}

.icon {
  position: absolute;
  top: 0;
  right: 0px;
  width: calc(var(--size-large) * 2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8779a4;
}

.input-group input:focus {
  border: solid 2px;
}

.saved {
  padding: var(--size-small) calc(var(--size-small) + 5px);
  background: #fbfbfb;
  border-radius: var(--size-small);
  margin: 0px var(--size-small);
  cursor: pointer;
}

.saved i {
  color: #8779a4;
}

.resultMaps {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.resultMaps ul {
  width: 100%;
  height: 100%;
  margin-left: 2px;
}

.resultMaps ul li {
  width: 90%;
  margin: var(--size-Medium) auto;
  padding: var(--size-small);
  border-radius: var(--size-small);
  text-align: left;
  box-shadow: 1px 0px 5px 1px rgba(1 1 1/10%);
}

.resultMaps ul li a {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #222;
}

.resultMaps ul li a strong {
  font-weight: 400;
}

.resultMaps ul li a img {
  width: var(--size-large);
  height: var(--size-large);
  margin-left: var(--size-small);
}

/* -- Form Maps -- */

/* response */

@media (max-width: 550px) {
  body {
    overflow: auto;
  }


  .MapsContiner {
    flex-direction: column;
  }

  #Maps{
    display: none;
  }

  .FormMaps {
    height: 100%;
  }

  .resultMaps {
    height: 90%;
    overflow-y: scroll;
  }
}

/* -- response -- */
